@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: white;
  line-height: 1;
  font-family: "Nunito";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 78.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.form__error {
  color: red;
  margin-top: 15px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background-color: #0097e6;
}

body {
  background-color: black;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.title span {
  color: #0097e6;
}

.btn {
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
  padding: 14px 30px;
  background-color: #0097e6;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: white;
  color: black;
}

html.menu-open .menu__body {
  top: 0;
}

.header {
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -200px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header.active {
  top: 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 24px;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
}

.header__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140px;
}

.header__icons {
  position: relative;
  z-index: 10;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  line-height: 45px;
}

.header__search,
.header__show,
.header__heart {
  padding-top: 7.5%;
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 20px;
  background: white;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__search:hover,
.header__show:hover,
.header__heart:hover {
  background-color: #0097e6;
  color: white;
}

.header__form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header__form label {
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
}

.header__form label:hover {
  color: #0097e6;
}

.header__search-input {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__search-input:focus {
  border: transparent;
  outline: transparent;
}

.header__search-input::-webkit-input-placeholder {
  font-size: 18px;
}

.header__search-input::-moz-placeholder {
  font-size: 18px;
}

.header__search-input:-ms-input-placeholder {
  font-size: 18px;
}

.header__search-input::-ms-input-placeholder {
  font-size: 18px;
}

.header__search-input::placeholder {
  font-size: 18px;
}

.menu {
  padding: 26px 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: white;
}

.menu__link {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__link._navigator-active {
  color: #0097e6;
}

.cart {
  position: relative;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__cart {
  position: relative;
}

.cart__quantity {
  position: absolute;
  right: -10px;
  top: 28%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -10px;
  background-color: #0097e6;
  border-radius: 100%;
  padding: 2px;
  color: #fff;
  font-size: 14px;
  height: 25px;
  width: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nunito";
}

.cart-content {
  cursor: default;
  width: 490px;
  position: absolute;
  top: 131%;
  right: 0;
  background-color: #0A0A0A;
  -webkit-box-shadow: 4px 4px 4px rgba(97, 97, 97, 0.25);
          box-shadow: 4px 4px 4px rgba(97, 97, 97, 0.25);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
  padding-top: 90px;
}

.cart-content__btn {
  padding: 15px 10px;
}

.cart-content__list {
  max-height: 330px;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  padding-right: 13px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-product:hover {
  background: rgba(93, 113, 221, 0.1);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cart-product__img {
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-product__title {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 18px;
  font-family: "Nunito";
}

.cart-product__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  font-family: "Nunito";
}

.cart-product__delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/trash.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

.cart-content__bottom {
  padding: 20px;
  border-top: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito";
}

.cart-content__fullprice {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullprice {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

.cart-content__btn {
  display: inline-block;
  width: 246px;
  text-align: center;
}

.simplebar-track.simplebar-vertical {
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  right: 5px;
  margin-top: 20px;
  height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(77, 77, 77, 0.2);
  border-radius: 5px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.cart-product__delete {
  margin-right: 8px;
}

.icon-menu {
  display: none;
  background-color: white;
}

.footer {
  background-color: #0a0a0a;
  margin-top: 30px;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 20px;
  padding: 50px 0;
}

.footer__box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer__link {
  display: block;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 18px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.footer__link i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #0097e6;
  margin-right: 6px;
}

.footer__link:hover {
  color: #0097e6;
}

.footer__link:hover i {
  margin-right: 20px;
}

.footer__input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #333333;
  color: white;
  margin-bottom: 20px;
  background-color: transparent;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
}

.footer__input::placeholder {
  font-size: 16px;
}

.footer__btn {
  margin-bottom: 20px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__icons a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 20px;
  color: black;
  background-color: white;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__icons a:hover {
  background-color: #0097e6;
  color: white;
}

.no-webp .home{
  background: url("../img/home-bg.jpg") center/cover no-repeat; }

.home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-attachment: fixed;
}

.home__content {
  position: absolute;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home__content.dop-scroll-cont {
  opacity: 1;
  visibility: visible;
}

.home__content p {
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.home__content h3 {
  margin-top: 20px;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.home__tree {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 14rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home__mountain {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 27rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home__moon {
  position: absolute;
  top: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 30vw;
}

.home__cloud-1 {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 60vw;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home__cloud-2 {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 60vw;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: -o-linear-gradient(transparent, #000);
  background: linear-gradient(transparent, #000);
  z-index: 12;
}

.about {
  padding: 40px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  opacity: 0;
}

.about__img._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.about__img img {
  max-width: 100%;
}

.about__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
  opacity: 0;
}

.about__contant._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.about__subtitle {
  color: #0097e6;
  font-size: 20px;
  margin-bottom: 20px;
}

.about__title {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__text {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 20px;
}

.about__btn {
  text-align: center;
  font-size: 20px;
  padding: 15px 20px;
  background-color: #0097e6;
  max-width: 140px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.about__btn:hover {
  background-color: white;
  color: black;
}

.products {
  padding: 50px 0;
}

.products__card {
  text-align: center;
}

.products__title {
  margin-bottom: 30px;
}

.products__collage {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 32px;
}

.card:hover .card__img img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card:hover .card__img .card__icons {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.card__img {
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.card__img img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  height: 100%;
}

.card__icons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card__icons a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  background: white;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card__icons a:hover {
  color: white;
  background-color: #0097E6;
}

.card__content {
  padding: 10px 0;
}

.card_1 {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.card_1._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.card_2 {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.card_2._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease 0.2s;
  -o-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

.card_3 {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.card_3._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}

.card_4 {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.card_4._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.card_5 {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.card_5._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease 0.2s;
  -o-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

.card_6 {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.card_6._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}

.content-card__stars {
  margin-bottom: 15px;
}

.content-card__stars i {
  font-size: 16px;
  color: #0097E6;
}

.content-card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.content-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-card__current-price {
  color: white;
  font-size: 20px;
}

.content-card__old-price {
  color: #9c9c9c;
  text-decoration: line-through;
}

.service {
  padding: 40px 0;
}

.service__title {
  margin-bottom: 40px;
}

.service__collage {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 20px;
}

.service__item {
  text-align: center;
  padding: 25px 8px;
  -webkit-transform: translate(0px, 30%);
      -ms-transform: translate(0px, 30%);
          transform: translate(0px, 30%);
  opacity: 0;
}

.service__item._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.service__item:nth-child(even) {
  background-color: #0A0A0A;
  border-radius: 10px;
}

.service__item i {
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: #0097E6;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.service__item p {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 20px;
}

.service__item:hover i {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.item-service__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.gallery__title {
  margin-bottom: 40px;
}

.gallery__collage {
  -webkit-columns: 18rem 3;
     -moz-columns: 18rem 3;
          columns: 18rem 3;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.gallery__collage img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.contact {
  padding: 80px 0;
}

.contact__form {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.contact__form h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contact__input,
.contact__textarea {
  width: 100%;
  padding: 15px 5px;
  border-bottom: 1px solid #333333;
  margin-bottom: 16px;
  color: white;
  font-size: 18px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.contact__input:focus,
.contact__textarea:focus {
  border: transparent;
  outline: transparent;
  border-bottom: 1px solid #0097e6;
}

.contact__textarea {
  height: 160px;
  resize: none;
  margin-bottom: 20px;
}

.blogs__title {
  margin-bottom: 30px;
}

.blogs__collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.blogs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.item-blogs_1 {
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0.3;
}

.item-blogs_1._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.item-blogs_2 {
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0.3;
}

.item-blogs_2._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.item-blogs_3 {
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0.3;
}

.item-blogs_3._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.item-blogs__img {
  height: 300px;
  overflow: hidden;
}

.item-blogs__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.item-blogs__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.item-blogs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-blogs__content p {
  padding: 0 20px;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 20px;
  text-align: center;
}

.item-blogs__title {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.item-blogs__icons {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0A0A0A;
  padding: 20px;
}

.item-blogs__icons a {
  color: white;
  font-size: 16px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.item-blogs__icons a:hover {
  color: #0097E6;
}

.item-blogs__icons a i {
  color: #0097E6;
  margin-right: 10px;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 47.99875em) {
  .header__form {
    top: 109.5%;
  }

  .gallery__collage img {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }

  .gallery__collage._watcher-view img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  .gallery__collage._watcher-view img:nth-child(1) {
    -webkit-transition: -webkit-transform 0.7s ease 0s;
    transition: -webkit-transform 0.7s ease 0s;
    -o-transition: transform 0.7s ease 0s;
    transition: transform 0.7s ease 0s;
    transition: transform 0.7s ease 0s, -webkit-transform 0.7s ease 0s;
  }

  .gallery__collage._watcher-view img:nth-child(2) {
    -webkit-transition: -webkit-transform 0.7s ease 0.2s;
    transition: -webkit-transform 0.7s ease 0.2s;
    -o-transition: transform 0.7s ease 0.2s;
    transition: transform 0.7s ease 0.2s;
    transition: transform 0.7s ease 0.2s, -webkit-transform 0.7s ease 0.2s;
  }

  .gallery__collage._watcher-view img:nth-child(3) {
    -webkit-transition: -webkit-transform 0.7s ease 0.3s;
    transition: -webkit-transform 0.7s ease 0.3s;
    -o-transition: transform 0.7s ease 0.3s;
    transition: transform 0.7s ease 0.3s;
    transition: transform 0.7s ease 0.3s, -webkit-transform 0.7s ease 0.3s;
  }

  .gallery__collage._watcher-view img:nth-child(4) {
    -webkit-transition: -webkit-transform 0.7s ease 0.4s;
    transition: -webkit-transform 0.7s ease 0.4s;
    -o-transition: transform 0.7s ease 0.4s;
    transition: transform 0.7s ease 0.4s;
    transition: transform 0.7s ease 0.4s, -webkit-transform 0.7s ease 0.4s;
  }

  .gallery__collage._watcher-view img:nth-child(5) {
    -webkit-transition: -webkit-transform 0.7s ease 0.5s;
    transition: -webkit-transform 0.7s ease 0.5s;
    -o-transition: transform 0.7s ease 0.5s;
    transition: transform 0.7s ease 0.5s;
    transition: transform 0.7s ease 0.5s, -webkit-transform 0.7s ease 0.5s;
  }

  .gallery__collage._watcher-view img:nth-child(6) {
    -webkit-transition: -webkit-transform 0.7s ease 0.6s;
    transition: -webkit-transform 0.7s ease 0.6s;
    -o-transition: transform 0.7s ease 0.6s;
    transition: transform 0.7s ease 0.6s;
    transition: transform 0.7s ease 0.6s, -webkit-transform 0.7s ease 0.6s;
  }

  .gallery__collage._watcher-view img:nth-child(7) {
    -webkit-transition: -webkit-transform 0.7s ease 0.7s;
    transition: -webkit-transform 0.7s ease 0.7s;
    -o-transition: transform 0.7s ease 0.7s;
    transition: transform 0.7s ease 0.7s;
    transition: transform 0.7s ease 0.7s, -webkit-transform 0.7s ease 0.7s;
  }

  .gallery__collage._watcher-view img:nth-child(8) {
    -webkit-transition: -webkit-transform 0.7s ease 0.8s;
    transition: -webkit-transform 0.7s ease 0.8s;
    -o-transition: transform 0.7s ease 0.8s;
    transition: transform 0.7s ease 0.8s;
    transition: transform 0.7s ease 0.8s, -webkit-transform 0.7s ease 0.8s;
  }

  .gallery__collage._watcher-view img:nth-child(9) {
    -webkit-transition: -webkit-transform 0.7s ease 0.9s;
    transition: -webkit-transform 0.7s ease 0.9s;
    -o-transition: transform 0.7s ease 0.9s;
    transition: transform 0.7s ease 0.9s;
    transition: transform 0.7s ease 0.9s, -webkit-transform 0.7s ease 0.9s;
  }
}

@media (min-width: 61.99875em) {
  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header__form {
    top: 100.5%;
  }
}

@media (min-width: 95.625em) {
  .home__tree {
    height: 20rem;
    bottom: -8%;
  }
}

@media (min-width: 117.625em) {
  .home__mountain {
    height: 35rem;
  }
}

@media (max-width: 80em) {
  [class*=__container] {
    max-width: 60.625rem;
  }

  .header__main-block {
    gap: 40px;
  }
}

@media (max-width: 80.3125em) {
  .products__collage {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .btn {
    font-size: 17px;
    padding: 10px 15px;
  }

  .header__main-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 0;
  }

  .menu {
    padding: 14px 10px;
  }

  .menu__body {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 500px;
    left: 0;
    top: -100%;
    padding: 150px 0px 0px 10px;
    overflow: auto;
    opacity: 0;
    text-align: center;
    -webkit-transition: top 0.8s ease, opacity 0.3s;
    -o-transition: top 0.8s ease, opacity 0.3s;
    transition: top 0.8s ease, opacity 0.3s;
  }

/*   .menu__body.active-opac {
    opacity: 1;
  } */
  
  html.menu-open .menu__body {
  top: 0;
  opacity: 1;
}

  .menu__body::after {
    content: "";
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .menu__body.active {
    top: -100%;
  }

  .menu__list {
    display: block;
    text-align: left;
    position: relative;
    top: -30px;
  }

  .menu__item {
    margin-bottom: 22px;
    margin-left: 8px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.8125rem;
    height: 2.8125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 20%;
    width: 60%;
    height: 0.25rem;
    background-color: black;
  }

  .icon-menu::before {
    top: 30%;
  }

  .icon-menu::after {
    bottom: 25%;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(45% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .about__subtitle {
    font-size: 15px;
  }

  .about__title {
    font-size: 25px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__btn {
    font-size: 17px;
    padding: 10px 15px;
  }

  .service__item p {
    font-size: 14px;
  }

  .blogs__collage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    margin: 0px -10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blogs__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 10px;
  }

  .blogs__item:last-child {
    margin-top: 20px;
  }

  .item-blogs__content p {
    font-size: 14px;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .menu__body::after {
    height: 68px;
  }
}

@media (max-width: 57.375em) {
  .home__content p {
    font-size: 1rem;
  }

  .home__content h3 {
    font-size: 4rem;
    margin-top: 10px;
  }

  .home__moon {
    width: 50vw;
  }

  .home__cloud-1 {
    top: 6rem;
  }
}

 @media (max-width: 50.1875em) {
  .footer__box:first-child{
      margin-top: 30px;      
  }
  .footer__box:last-child{
    margin-bottom: 30px;      
}
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .title {
    font-size: 28px;
  }

  .header__logo {
    font-size: 20px;
  }

  .header__search,
  .header__show,
  .header__heart {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  .menu {
    padding: 14px 10px;
  }

  .icon-menu {
    width: 2.5rem;
    height: 2.5rem;
  }

  .home__content p {
    font-size: 0.8rem;
  }

  .home__content h3 {
    font-size: 3rem;
  }

  .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__img img {
    max-width: 70%;
    margin: 0 auto;
  }

  .about__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .about__contant {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .products__title {
    margin-bottom: 10px;
  }

  .card__content {
    padding: 0 0;
  }

  .contact {
    padding: 40px 0;
  }

  .blogs__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 36.9375em) {
  .footer__container {
    justify-items: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
  }

  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 32.25em) {
  .cart-content {
    -webkit-box-shadow: 0px 0px 0px;
            box-shadow: 0px 0px 0px;
    width: auto;
  }

  .cart-product {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cart-product__delete {
    margin-left: 30px;
  }

  .cart-content__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cart-content__fullprice {
    margin-bottom: 15px;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 22px;
  }

  .about__img img {
    max-width: 100%;
  }

  .service__collage {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

.webp .home{ background: url(../img/home-bg.webp) center/cover no-repeat; }
